{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">

{% if user and not user.is_anonymous %}
<a class="form-control btn btn-login" href="/blogs/" style="width: 20%;">Create Blogs</a>
<a class="form-control btn btn-login" href="/getblogs/" style="width: 20%;float:right;">List of Blogs</a>

<br>
  <h3>Hello, {{ user.get_full_name }}!</h3>
  
  <br>
  <a href="/logout">
    <img src="{% static 'images/glogout.png' %}" style="   height: 100%;
                                                          width: 13%;
                                                          display: block;
                                                          margin-left: auto;
                                                          margin-right: auto;">

  </a>
  
{% else %}
  <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">

    <img src="{% static 'images/glogin.png' %}" style="   height: 100%;
                                                          width: 25%;
                                                          display: block;
                                                          margin-left: auto;
                                                          margin-right: auto;">

  </a>
{% endif %}

{% endblock content %}
